/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 80px;
}

a {
  color: #BF5700;
}

.section {
  padding: 30px 0px 0px 0px;
}

.bg-highlight {
  background-color: #fffbed;
  padding: 0px 0px 30px 0px;
}

.bg-no-highlight{
  padding: 0px 0px 30px 0px;
}

.staff {
  display: inline-block;
  width: 200px;
  text-align: left;
  margin: 10px 20px 30px 0px;
}

.staff-photo img {
  height: 140px;
  width: 140px;
  margin-bottom: 10px;
  padding: 3px;
  border: 1px solid #ddd;
  /*border-radius: 50%;*/
  /*border: 3px solid white;*/
}

.staff a:link {color: black;}
.staff a:visited {color: black;}
.staff a:hover {color: black;}
.staff a:active {color: black;}

.schedule-header th {
  padding: 5px 10px 5px 10px;
  border-top: none;
  border-bottom: 1px solid black;
}

.schedule-row {
  border: none;
}
 
.schedule-row td {
  padding: 5px 10px 5px 10px;
}

.holiday-row {
  background-color: #eef4ff;
}

.section-row {
  background-color: #fffbed;
}

li{
  margin: 10px 0;
}

.content {
  padding-top: 40px;
}

.navbar-dark {
  background-color: #BF5700;
}